<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="/static/dist/styles/normalize.css" rel="stylesheet">
  <link href="/static/dist/styles/main.css" rel="stylesheet">
</head>
<body>
<!-- main -->
  <div class="container">
    <div id="react-container"></div>
  </div>
  <script src="/static/dist/scripts/bundle.js" type="text/javascript"></script>
</body>
</html>
