<html>
<head>
  <title>Home page</title>
  <link href="/static/dist/css/materialize.min.css" type="text/css" rel="stylesheet"> 
</head>
<body>
  <div id="react-container"></div>
  <script src="/static/dist/js/jquery.min.js"></script>
  <script src="/static/dist/js/materialize.min.js"></script>
  <script src="/static/dist/js/bundle.js"></script>
</body>
</html>
